h1:first-of-type {
    margin-top: 60px;
}

h1 {
    text-align: center;
    color: rgb(255, 25, 25);
    font-size: 40px;
    margin: 0;
}

p {
    text-align: center;
    font-size: 23px;
    font-weight: bold;
}

form {
    background-color: rgb(206, 26, 26);
    padding: 20px;
    border-radius: 30px;
    width: 60%;
    margin: 0 auto;
}

.custom-form {
    justify-content: center;
}

.nested-form {
    display: flex;
}

.left-section, .right-section {
    width: 50%;
    padding: 20px;
}

.white-label {
    color: white;
    font-weight: bold;
    font-size: 22px;
    display: block;
    margin-bottom: 5px;
}

.form-group {
    margin-bottom: 15px;
}

#titulo,
#autor,
#genero {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    width: 80%;
    height: 30px;
}

/* #portada {
    background-color: white;
}

#portada {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 30px ;
    width: 35%;
    height: 200px;
} */

.upload-container {
    width: 193px;
    border: 1px solid red;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 50px;
  }

.upload-frame {
    position: relative;
}

.upload-icon {
    width: 40px;
}

.upload-btn {
    background-color: #f2f2f2;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    display: inline-block;
}

input[type="file"] {
    width: 100%;
    height: 200px;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    cursor: pointer;
}

button {
    font-weight: bold;
    font-size: 20px;
    border-radius: 15px;
    padding: 5px 15px;
    width: 50%;
    height: 50px;
    display: block;
    margin-top: 120px;
    margin-left: auto;
    margin-right: 40%;
    border: none;
}